<template>
    <div>
        <!--NAVBAR-->
        <v-toolbar flat>
            <v-toolbar-title>
                <v-btn fab flat class="height nav-logo" to="/"></v-btn>
                <router-link class="black--text" to="/" tag="span" style="cursor: pointer">
                    Park inc.
                </router-link>
            </v-toolbar-title>

            <v-spacer></v-spacer>
            <div>Menu</div>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        </v-toolbar>

        <!--DRAWER-->
        <v-layout>
        <v-navigation-drawer
        temporary
        v-model="drawer"
        light
        right
        >
        <v-list class="pa-1">
            <v-list-tile avatar>
            <v-layout>
                <v-flex xs3>
                    <v-list-tile-avatar>
                        <img src="/static/profile-picture.png" />
                    </v-list-tile-avatar>
                </v-flex>
                <v-flex xs6>
                    <v-list-tile-content>
                        <v-list-tile-title>Miroslav Pakanec</v-list-tile-title>
                    </v-list-tile-content>  
                </v-flex>
                <v-flex xs1 offset-xs2>
                    <v-toolbar-side-icon right @click.stop="drawer = !drawer" light></v-toolbar-side-icon>
                </v-flex>                
            </v-layout>
            </v-list-tile>
        </v-list>
        <v-list class="pt-0" dense>
            <v-divider></v-divider>
            <v-list-tile v-for="item in items" :key="item.title" @click="''">
            <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            </v-list-tile>
        </v-list>
        </v-navigation-drawer>
    </v-layout>
    </div>  
</template>

<script>
  export default {
    data () {
      return {
        drawer: null,
        items: [
          { title: 'Home', icon: 'dashboard' },
          { title: 'About', icon: 'question_answer' }
        ]
      }
    }
  }
</script>

<style>
.nav-logo {

    height: 50px;
    width: 50px;
    margin-top: 2.5px;
    margin-left: 30px;

    background: url('../../../static/logo.png');
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    filter: brightness(110%);

}

.toolbar{
    background-color: white !important;
}
</style>
