<template>
    <div class="notification-container">
      <transition-group name="fade">
        <v-card 
          v-for="notification in notifications" 
          :key="notification.id" 
          flat 
          class="notification mt-2">
          <v-card-title class="pt-2 pb-2">
            <h5 class="no-margin">{{notification.title}}</h5>
          </v-card-title>
          <v-card-text class="pt-0">
            {{notification.text}}
          </v-card-text>
        </v-card>
      </transition-group>
    </div>
</template>
<script>
export default {
  computed: {
    notifications: {
      get() {
        return this.$store.getters.activeNotifications;
      },
      set(value) {
        this.$store.commit("setActiveNotifications", value);
      }
    }
  }
};
</script>

<style scoped>
.notification-container {
  height: 90%;
  width: 300px;

  overflow-y: auto;
  overflow-x: hidden;

  position: absolute;
  right: 0px;

  /*background-color: red !important;*/
  z-index: 100;
}

.notification {
  width: 100%;
  height: 100px !important;

  background-color: rgba(102, 102, 255, 0.9) !important;
  color: white;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>


