<template>
    <v-card v-if="ad != ''" class="ad-view">
        <v-btn right flat icon small absolute @click="this.closeAd">
            <v-icon>clear</v-icon>
        </v-btn>
        <img :src="ad" alt="" class="ad">
    </v-card>
</template>
<script>
export default {
  computed: {
    ad: {
      get() {
        return this.$store.getters.source;
      },
      set(value) {
        this.$store.commit("setSource", value);
      }
    }
  },
  methods:{
      closeAd(){
          this.$store.dispatch("closeAd");
      }
  }
};
</script>

<style scoped>
.ad {
  margin-left: 30px;
  margin-top: 30px;
}

.ad-view {
  width: 560px;
  height: 110px !important;

  background-color: #fefefe;

  position: absolute;
  top: 594px;
  right: 10px;
}
</style>

