<template>
    <v-flex xs12>
        <v-btn flat block @click="selected()">
            <v-layout>
                <v-flex xs1>
                    <v-icon class="red--text">place</v-icon>
                </v-flex>
                <v-flex xs8 offset-xs1>
                    <span class="text-standard"><b>{{city}}</b>, {{region}}, {{country}}</span>
                </v-flex>
            </v-layout>                  
        </v-btn>
    </v-flex>
</template>
<script>
export default {
  props:['id', 'city', 'region', 'country', 'order-number'],
  methods:{
      selected(){

        this.$emit('selected', this.$props.id);   
      }
  }
}
</script>
