<template>
    <v-chip v-if="isOpen == '1'" :style="{color:'#595', backgroundColor:'#eee'}" text-color="white">
        <v-avatar :style="{backgroundColor:'#595'}">
            <v-icon :style="{opacity:'1'}">done</v-icon>
        </v-avatar>
        Open
    </v-chip>
    <v-chip v-else :style="{color:'#955', backgroundColor:'#eee'}" text-color="white">
        <v-avatar :style="{backgroundColor:'#955'}">
            <v-icon :style="{opacity:'1'}">not_interested</v-icon>
        </v-avatar>
        Closed
    </v-chip>
</template>
<script>
export default {
  props:['isOpen']
}
</script>


