<template>
  <v-container fluid class="container no-padding">
    <active-notification-pannel></active-notification-pannel>
    <div class="menu">
      <v-card>
        <v-card-text class="no-padding">
          <v-container fluid>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field
                  id="parking-location-input"                  
                  label="Location"
                  single-line
                  prepend-icon="search"  
                  v-model="location"
                  @keydown="''"                
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap class="cunstom-scrollbar autofill-container">              
              <btn-autofill 
                v-for="item in autocomplete" 
                :key="item.id"
                :id="item.id" 
                :city="item.city" 
                :region="item.region" 
                :country="item.country"
                :order-number="item.orderNumber"
                @selected="selectAutofill"></btn-autofill>             
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-container class="no-padding">
            <v-layout row wrap>
              <v-flex xs12 offset-xs2>
                <span v-if="viewType == 0">Map view</span>
                <span v-else>List view</span>
              </v-flex>
            </v-layout>
            <v-layout row wrap mt-2>
              <v-flex xs10 offset-xs2>
                <v-btn-toggle mandatory v-model="viewType">
                  <v-btn flat>
                    <v-icon>my_location</v-icon>
                  </v-btn>
                  <v-btn flat>
                    <v-icon>view_list</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </v-flex>
            </v-layout>
          </v-container>  
        </v-card-actions>
      </v-card>
      <parking-place-menu v-if="viewType == 0" :parkingPlace="activeParkingPlace"></parking-place-menu>
    </div>
    <div v-if="viewType == 0" class="map-view">
      <gmap-map
        :center="{lat:position.latitude, lng:position.longitude}"
        :zoom="14"
        :options="{gestureHandling: 'greedy'}"
        map-type-id="roadmap"
        style="width: 100%; height: 90%"
      >
        <gmap-marker
          :key="index"
          v-for="(m, index) in markers"
          :position="m.position"
          :clickable="true"
          :draggable="false"
          @click="focusMarker(m)"
        ></gmap-marker>
      </gmap-map>
    </div>
    <div v-if="viewType == 1" class="list-view">
      <div class="list">
        <table-parking :parkingPlaces="parkingPlaces"></table-parking>
      </div>
    </div> 
    <div v-if="viewType == 0">
      <ad></ad>
    </div> 
  </v-container>
</template>

<script>
import axios from "axios";
import ActiveNotificationPanel from "./../Notifications/ActiveNotifications";
import AutofillButton from "./AutofillButton";
import ParkingTable from "./ParkingTable";
import ParkingPlaceMenu from "./ParkingPlaceMenu";
import ParkingAd from "./Ad";

export default {
  components: {
    "active-notification-pannel": ActiveNotificationPanel,
    "btn-autofill": AutofillButton,
    "table-parking": ParkingTable,
    "parking-place-menu": ParkingPlaceMenu,
    ad: ParkingAd
  },
  data() {
    return {
      viewType: 0,
      selectedPlaceId: undefined
    };
  },
  computed: {
    location: {
      get() {
        return this.$store.getters.mapLocation;
      },
      set(value) {
        this.$store.commit("setMapLocation", value);
      }
    },
    position: {
      get() {
        return this.$store.getters.mapPosition;
      },
      set(value) {
        this.$store.commit("setMapPosition", value);
      }
    },
    markers: {
      get() {
        return this.$store.getters.mapMarkers;
      },
      set(value) {
        this.$store.commit("setMapMarkers", value);
      }
    },
    autocomplete: {
      get() {
        return this.$store.getters.autocomplete;
      },
      set(value) {
        this.$store.commit("setAutocomplete", value);
      }
    },
    parkingPlaces: {
      get() {
        return this.$store.getters.parkingPlaces;
      },
      set(value) {
        this.$store.commit("setParkingPlaces", value);
      }
    },
    activeParkingPlace: {
      get() {
        return this.$store.getters.activeParkingPlace;
      },
      set(value) {
        this.$store.commit("setActiveParkingPlace", value);
      }
    }
  },
  mounted() {
    this.$store.dispatch("loadGeolocation");
    this.$store.dispatch("loadParkingPlaces");
    this.$store.dispatch("loadAdSource");
    this.$store.dispatch("loadSubscriptions");
  },
  // sockets: {
  //   parkingData(data) {
  //     console.log(data)
  //   }
  // },
  methods: {
    selectAutofill(id) {
      var item = this.$store.getters.autocomplete.find(function(element) {
        return element.id == id;
      });

      this.location = item.city + ", " + item.country;
      this.autocomplete = [];
    },
    focusMarker(marker) {
      console.log('focus marker', marker);
      // this.centerToMarker(marker);
      this.selectedPlaceId = marker.id;
      this.$store.dispatch("setActiveParkingPlaceWithId", marker.id);
    },
    centerToMarker(marker) {
      let position = {
        latitude: marker.position.lat,
        longitude: marker.position.lng
      };
      this.$store.commit("setMapPosition", position);
    }
  },
  watch: {
    location: function(val) {
      this.$store.dispatch("findGeolocation", val);
      this.$store.dispatch("findCities", val);
    },
    parkingPlaces: function(places) {
      console.log('dispatching loadMapMarkers from watcher')
      this.$store.dispatch('loadMapMarkers', places);
      this.$store.dispatch("setActiveParkingPlaceWithId", this.selectedPlaceId);
    }
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;

  position: relative;
}

.menu {
  width: 300px;
  height: 350px;

  position: absolute;
  top: 10px;
  left: 10px;

  z-index: 1;
}

.map-view {
  width: 100%;
  height: 100%;
  background-color: #fefefe;

  position: absolute;
  top: 0;
  left: 0;
}

.list-view {
  width: 100%;
  height: 100%;
  background-color: #eee;

  position: absolute;
  top: 0;
  left: 0;
}

.list {
  width: 60%;
  height: auto;

  position: absolute;
  top: 75px;
  left: 330px;
}

.autofill-container {
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}
</style>

