<template>
    <table style="width:100%">
        <tr>
            <th v-for="item in parkingHeaders" :key="item.text" :style="{textAlign: item.align}">{{item.text}}</th>
        </tr>
        <tr v-for="item in parkingPlaces" :key="item.name">
            <td style="text-align: left"><b>{{item.name}}</b></td>
            <td>{{item.isOpen}}</td>
            <td>{{item.isPayment_active}}</td>
            <td>{{item.status}}</td>
            <td>{{item.longitude}}</td>
            <td>{{item.latitude}}</td>
            <td>{{item.maxCount}}</td>
            <td>{{item.freeCount}}</td>
        </tr>
    </table>
</template>

<script>
export default {
  props:['parkingPlaces'],
  computed: {
    parkingHeaders() {
      return this.$store.getters.parkingHeaders;
    }
  }
};
</script>


<style scoped>
table {
  margin: 5%;
  width: 90% !important;
  text-align: center;
  border-collapse: collapse;
}

th {
  font-size: 17px;
}

td {
  color: #666;
}

td,
th {
  padding: 10px 0px;
}

tr {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
</style>
