<template>
  <v-card v-if="parkingPlace.id != null" class="mt-3 place-menu">
        <v-card-title>
          <div>
            <v-container class="no-padding">
              <v-layout class="row wrap">
                <v-flex xs8>
                  <h5>{{parkingPlace.name}}</h5>
                </v-flex>
                <v-flex xs4>
                  <is-open-chip :isOpen="parkingPlace.isOpen"></is-open-chip>
                </v-flex>
              </v-layout>
            </v-container>
            <br>
            <span v-if="parkingPlace.isPaymentActive"><i>This parking lot <b>has active payment</b></i></span>
            <span v-else><i>This parking lot <b>does not have an active payment</b></i></span><br></br>
            <v-container class="no-padding">
              <v-layout row wrap>
                <v-flex xs6>
                  <span><b>Free spaces:</b> {{parkingPlace.freeCount}}</span></br>
                  <span><b>All spaces:</b> {{parkingPlace.maxCount}}</span>
                </v-flex>
                <v-flex xs4 offset-xs2>
                </v-flex>
              </v-layout>
            </v-container>
                  <btn-subscribe :parkingPlaceId='parkingPlace.id'></btn-subscribe>
          </div>
        </v-card-title>
    </v-card>
</template>
<script>
import IsOpenChip from "./IsOpenChip";
import SubscribeButton from "./SubscribeButton";

export default {
  props: ["parkingPlace"],
  components: {
    "is-open-chip": IsOpenChip,
    "btn-subscribe": SubscribeButton
  }
};
</script>

<style scoped>
.place-menu {
  width: 300px;
  height: 100px;
}
</style>
