<template>
  <v-container>
              <v-layout row wrap class="mb-4">
                <v-flex xs12>
                    <v-btn v-if="isSubscribed" block flat class="btn-subscribe text-standard" @click="subscribe()">
                    Subscribe
                  </v-btn>
                  <v-btn v-else block flat class="btn-unsubscribe text-standard" @click="unsubscribe()">
                    Unsubscribe
                  </v-btn>
                </v-flex>
              </v-layout>
              <v-dialog flat v-model="dialog" max-width="500px">
                <v-card>
                  <v-card-title>
                    <v-time-picker format="24hr" v-model="time"></v-time-picker>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn style="border:1px solid #1C86EE; color:#1C86EE;" flat @click.stop="dialog=false">Close</v-btn>
                  </v-card-actions>
                </v-card>
            </v-dialog>
            <v-layout v-if="isSubscribed" row wrap>
                <v-flex xs6>
                    <p>Subscription time: {{time}}</p>
                </v-flex>
                <v-flex xs4 offset-xs1>
                  <v-btn style="border:1px solid #ddd; color:grey" class="text-standard" flat left @click.stop="dialog = true">Change</v-btn>
                </v-flex>     
            </v-layout>
  </v-container>

</template>
<script>
import TimeHelper from "../../helpers/timeManager";

export default {
  props: ["parkingPlaceId"],
  data() {
    return {
      time: TimeHelper.getCurrent(),
      dialog: false
    };
  },
  computed: {
    subscriptions: {
      get() {
        return this.$store.getters.subscriptions;
      },
      set(value) {
        this.$store.commit("setSubscriptions", value);
      }
    },
    isSubscribed() {
      var self = this;

      var subscriptions = this.$store.getters.subscriptions;
      var subscription = subscriptions.find(function(element) {
        return element.parkingPlaceId == self.parkingPlaceId;
      });

      return subscription === undefined;
    }
  },
  methods: {
    subscribe() {
      var parkingPlace = this.$store.getters.getParkingPlaceWithId(
        this.parkingPlaceId
      );

      if (parkingPlace == undefined)
        throw "Parking place with id " +
          this.parkingPlaceId +
          " could not be found.";

      var subscription = this.createDefaultSubscriptionObject();

      this.$store.dispatch("subscribe", subscription).then(() => {
        let notification = this.$store.getters.parkingSubscribtionObj(
          parkingPlace
        );
        this.$store.dispatch("createActiveNotifications", notification);
      });
    },
    unsubscribe() {
      var parkingPlace = this.$store.getters.getParkingPlaceWithId(
        this.parkingPlaceId
      );

      if (parkingPlace == undefined)
        throw "Parking place with id " +
          this.parkingPlaceId +
          " could not be found.";

      this.$store.dispatch("unsubscribe", parkingPlace.id).then(() => {
        let notification = this.$store.getters.parkingClosedSubscribtionObj(
          parkingPlace
        );
        this.$store.dispatch("createActiveNotifications", notification);
      });
    },
    createDefaultSubscriptionObject() {
      return {
        parkingPlaceId: this.parkingPlaceId,
        email: "miropakanec@gmail.com", //hardcoded for now
        hour: TimeHelper.getHourFromString(this.time),
        phone: "+421910245649",
        minute: TimeHelper.getMinuteFromString(this.time)
      };
    }
  }
};
</script>

<style scoped>
.btn-subscribe {
  background-color: #6666ff !important;
  color: white;
}

.btn-unsubscribe {
  background-color: white !important;
  color: #6666ff;
  border: 1px solid #6666ff;
}
</style>
