<template>
  <v-app light>
    <nav-bar></nav-bar>
    <main>
      <router-view></router-view>
    </main>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar/Navbar';
import Footer from './components/Footer/Footer';

export default {
  components: {
    'nav-bar': Navbar,
    'v-footer': Footer
  }
}
</script>

<style>
@font-face {
  font-family: r-thin;
  src: url('./stylus/fonts/Raleway-Regular.ttf');
}

html {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  
  font-family: r-thin;
}

.text-standard{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
}

.no-padding {
  padding: 0;
}

.no-margin{
  margin:0;
}

.cunstom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.cunstom-scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.cunstom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	background-color: #ccc;
}

</style>



